.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__icon {
  display: none;
}

.active,
.nav__link:hover {
  color: var(--title-color-dark);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 1024px) {
  .header {
    top: initial;
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: flex;
    padding: 0.2rem 0.7rem;
    z-index: var(--z-fixed);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    &::before {
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
    }
  }

  .nav__list {
    column-gap: 1rem;
  }

  .nav__logo,
  .item__name {
    display: none;
  }

  .nav__icon {
    display: block;
    color: var(--container-color);
  }

  .nav__link {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
  }

  .active,
  .nav__link:hover {
    color: var(--container-color);
    background: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 610px) {
  .header {
    bottom: 1rem;
    padding: 0;
  }

  .nav {
    height: 4rem;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__list {
    column-gap: 0.8rem;
  }

  .nav__icon {
    width: 20px;
    height: 20px;
  }

  .nav__link {
    padding: 0.5rem;
  }
}
