.social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.social__icon {
  font-size: 1.25rem;
  color: var(--title-color);

  &:hover {
    color: var(--title-color-dark);
  }
}
